__pycache__/
/_temp
/_temp2
/Output
/logs
*.pth

# Dataset
/test_data
/Final_images
/opts
/temp_images
/test_images

# Checkpoints
/pretrained_models

# Test file
run.py
web_demo_mockup.py
web_demo_mockup2.py